/* Boxicons */
@font-face {
  font-family: boxicons;
  src: url("../fonts/boxicons/boxicons.woff2");
}

/* Root Styling */
:root {
  --heading-font: "Philosopher", sans-serif;
  --color-primary: #fda300;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
  font-family: sans-serif;
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

a {
  display: inline-block;
  color: #000;
  transition: all 300ms ease-in-out;
}

ul,
ol,
dl {
  margin-bottom: 0;
  padding: 0;
}

.imgFluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

i.bx {
  font-family: boxicons;
  vertical-align: middle;
}

.padd-y {
  padding: 5rem 0;
}

.mar-y {
  margin: 5rem 0;
}

/* ThemeBtn */
.themeBtn {
  width: fit-content;
  display: block;
  font-size: 0.85rem;
  border-radius: 83px;
  font-weight: 800;
  text-align: center;
  padding: 0.75rem 3rem;
  position: relative;
  z-index: 1;
  text-transform: capitalize;
  background-color: #fff;
  color: #000000d1;
}

.themeBtn--outline {
  border: 2px solid #000;
}

.themeBtn--outline-light {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}

.themeBtn--center {
  margin: 1rem auto;
}

.themeBtn--full {
  width: 100%;
}

.themeBtn:hover {
  color: #000;
}

/* Section Heading */
.section-content {
  color: #00000080;
}

.section-content--light * {
  color: #fff;
}

.section-content .heading {
  font-size: 3.5rem;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 1.15rem;
  font-family: var(--heading-font);
  text-transform: capitalize;
  color: #fff;
}

.section-content .subHeading {
  font-size: 2rem;
}

.section-content p {
  font-size: .85rem;
  font-weight: 600;
  line-height: 1.75;
  margin: 0.75rem 0;
  color: #fff;
}

/* header */
.header {
  padding: .85rem 0;
  /* position: sticky; */
  /* top: 0; */
  background-color: #ffa700;
  /* background: linear-gradient(349deg, #ffad18, rgb(241 113 85)); */
}

.header-logo {
  font-size: 1.45rem;
  font-weight: 600;
}

.header-content {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

ul.header-nav li {
  font-size: 1.10rem;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  text-transform: capitalize;
}

.header-menu i {
  font-size: 1.5rem;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.header-nav li a {
    color: #fff;
}

/* .banner */
.banner {
    background: linear-gradient(183deg, #ffad18, rgb(252 71 32));
    width: 100%;
    height: 90vh;
    /* position: absolute; */
    top: 0;
    /* z-index: -1; */
    position: relative;
    isolation: isolate;
}
.banner-imgs {
  width: 100%;
  height: 100%;
  position: relative;
}

#fanta{
  width: 34%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#leaf2 {
  position: absolute;
  top: 19%;
  width: 13%;
  left: 5%;
  transform: rotate(3deg);
}
#leaf1 {
  position: absolute;
  width: 20%;
  top: -41px;
  right: -23px;
  transform: rotate(289deg);
}

#leaf3 {
  width: 16%;
  position: absolute;
  right: 2%;
  top: 59%;
  transform: rotate(240deg);
}
#oranges {
  position: absolute;
  width: 20%;
  top: 52%;
  left: 47%;
}

#orange-cut {
  width: 21%;
  position: absolute;
  top: -4%;
  left: 32%;
  z-index: -1;
}
.main-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25vw;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  z-index: -1;
}
.about-us {
  padding: 2rem 0;
  background-color: #3a2413;
  width: 100%;
  height: 100vh;
}

.about-us__svg svg {
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(83deg);
    position: relative;
    left: 64px;
    top: 273px;
}
.cans-cards {
  padding: 2rem 0;
  width: 100%;
  height: 100vh;
  background-color: #3a2413;
}
.main-card {
    height: 465px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 12px 0px #333333bd;
    margin-top: 27px;
    width: 353px;
}

.main-card__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 28%;
}


.can-name {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 4px;
    color: #fff;
    font-family: math;
}
.main-card__img {width: 100%;height: 100%;position: relative;}
img#sprite {
  position: absolute;
  height: 430px;
  top: -70px;
}



img#lorem {
  position: absolute;
  width: 282px;
  top: -104px;
  left: 41px;
}

.main-card__details {
  /* position: relative; */
}
.main-card.green-card {
    background-color: #77cfb2;
}



.main-card.og-card {
    background-color: #ff9f5a;
}


.main-card.blue-card {
    background-color: #8ee6ff;
}